:root {
  --accent-color: #4d5ae5;
  --accent-logo-color: #4d5ae5;
  --hero-title-buttons: #ffffff;
  --brand-color: #2e2f42;
  --primary-titles-color: #2e2f42;
  --mini-titles-color: #2e2f42;
  --secondary-titles-color: #2e2f42;
  --hover-color: #404bbf;
  --background: #ffffff;
  --cards-color: #f4f4fd;
  --cloud: #f4f4fd;
  --buttons-2page: #e7e9fc;
  --primary-text-color: #434455;
  --border: #8e8f99;
  --hover-footer: #31d0aa;
  --timing-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --primary-brand-color-a: rgba(64, 75, 191, 0.9);
  --modal-window-background: #fcfcfc;
  --card-set-gap: 24px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* списки и точки */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;

  color: var(--primary-text-color);
  background-color: var(--background);
  letter-spacing: 0.02em;
}
img {
  display: block;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto 0 auto;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.logo-color {
  color: var(--brand-color);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .header-nav {
    display: none;
  }

  .header-address {
    display: none;
  }
  .header-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }

  .header-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-nav {
    display: none;
  }

  .header-address {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .burger {
    stroke: var(--brand-color);
  }
  .menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .menu {
    width: 32px;
    height: 22px;
  }

  .header-nav-modal li:not(:last-child) {
    margin-bottom: 40px;
  }
  .menu-container-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--background);
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12))
      drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2))
      drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));
    transition: opacity var(--timing-cubic);
  }

  .menu-container-modal.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .menu-container-modal .header-nav,
  .menu-container-modal .header-address-menu {
    display: block;

    top: 0;
    left: 0;

    font-size: 10px;
  }

  .nav-link-modal {
    position: relative;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--brand-color);
    transition: color var(--timing-cubic);
  }
  .address-link-number .blue {
    color: #404bbf;
  }
  .nav-link-modal:hover,
  .nav-link-modal:focus {
    color: var(--hover-color);
  }

  .header-address-menu li:not(:last-child) {
    margin-bottom: 40px;
  }
  .header-address-menu {
    margin-top: auto;
  }

  .address-link-mail {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    transition: color var(--timing-cubic);
  }

  .address-link-mail:hover,
  .address-link-mail:focus {
    color: var(--hover-color);
  }

  .address-link-number {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.11;
    color: var(--accent-color);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color var(--timing-cubic);
  }

  .address-link-number:hover,
  .address-link-number:focus {
    color: var(--hover-color);
  }

  .menu-icons {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .team-soc-item {
    width: 40px;
    height: 40px;
  }

  .team-soc-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--timing-cubic);
  }

  .team-soc-link:hover,
  .team-soc-link:focus {
    background-color: var(--hover-color);
  }

  .team-soc-icon {
    height: 24px;
    width: 24px;
  }

  .header-nav {
    display: none;
  }

  .header-address {
    display: none;
  }

  .cl-menu {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--background);
  }

  .menu-svg {
    stroke: var(--brand-color);
  }

  .menu-close-svg {
    width: 8px;
    height: 8px;
    fill: var(--brand-color);
  }
  .menu-btn.is-open .menu-close-svg {
    display: block;
  }

  .menu-btn.is-open .menu-svg {
    display: none;
  }

  /* Hero */

  .hero {
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--brand-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-min-428.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
  }

  .hero-title {
    color: var(--hero-title-buttons);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .btn-hero {
    color: var(--hero-title-buttons);
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: 0px solid transparent;
    border-radius: 4px;
    transition: color var(--timing-cubic), background-color var(--timing-cubic);
  }

  .active-btn:hover,
  .active-btn:active {
    color: var(--hero-title-buttons);
    background-color: var(--hover-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg@2x-min-428.jpg);
    }
  }
  /* SPECIFIC */

  .specifics {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .mini-title {
    color: var(--mini-titles-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .specifics-text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .about-item:not(:last-child) {
    margin-bottom: 72px;
  }

  /* DOING */
  .doing {
    display: none;
  }
  /* TEAM */
  .team {
    background-color: var(--cards-color);
  }

  .primary-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--brand-color);
  }
  .team-list {
    width: 264px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }
  .team-item {
    background-color: var(--background);
    width: 100%;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    justify-content: center;
    width: 100%;
  }
  .box-content {
    padding: 32px 16px;
    text-align: center;
  }
  .secondary-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-bottom: 8px;
  }
  .text-dsc-team {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .team-soc-list {
    display: flex;
    justify-content: center;
    gap: var(--card-set-gap);
    margin-top: 8px;
  }
  .team-soc-item {
    width: 40px;
    height: 40px;
  }
  .team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-logo-color);
    color: var(--cards-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--timing-cubic);
  }
  /* CUSTOMERS */
  @media screen and (max-width: 427px) {
    .customers-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .primary-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--brand-color);
    margin-bottom: 72px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: calc(var(--card-set-gap) * 3);
    justify-content: center;
  }

  .customers-item {
    width: 190px;
    height: 88px;
    border: 1px solid var(--border);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--border);
    transition: color var(--timing-cubic), border-color var(--timing-cubic);
  }
  .customers-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
  }

  /* FOOTER */
  .basement {
    background-color: var(--brand-color);
    padding: 100px 0;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 72px;
  }
  .basement-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-logo-color);
  }
  .basement-second-logo {
    color: var(--cards-color);
  }
  .basement-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--buttons-2page);
    margin-top: 16px;
    text-align: left;
  }
  .footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background);
    margin-bottom: 16px;
  }
  .footer-logo-block {
    display: flex;
    gap: 16px;
  }
  .footer-social-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--timing-cubic);
  }
  .footer-logo {
    width: 40px;
    height: 40px;
  }
  .footer-social-box {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-logo-color);
    color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--timing-cubic);
  }

  .container3 {
    width: 100%;
  }
  .subscibe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background);
    margin-bottom: 16px;
  }

  .footer-input {
    border: 1px solid var(--background);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
    line-height: 2;
    display: block;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--background);
    padding: 8px 16px;
    background-color: var(--brand-color);
    margin-bottom: 16px;
  }
  .btn-footer {
    background-color: var(--accent-logo-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--background);
    border: 0px solid transparent;
    min-width: 165px;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    margin-top: 16px;
    gap: 16px;
    margin: auto;
    transition: background-color var(--timing-cubic);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .menu-container-modal {
    display: none;
  }

  .menu-btn {
    display: none;
  }

  .header-nav {
    margin: 0 auto;
    display: flex;
    gap: 40px;
  }
  .nav-link.current-nav::after {
    position: absolute;
    content: "";
    left: 0;
    top: 44px;
    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--hover-color);
    border-radius: 2px;
  }

  .nav-link.current-nav {
    color: var(--hover-color);
  }

  .nav-link {
    position: relative;
    color: var(--brand-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--timing-cubic);
  }

  .nav-link::after {
    content: "";
    width: 64px;
    height: 4px;
    background-color: var(--accent-color);
  }

  address {
    font-style: normal;
  }

  .header-address {
    display: block;
    margin: 0 auto;
  }

  .address-link {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .auth-nav {
    font-style: normal;
  }

  .active {
    transition: var(--timing-cubic);
  }

  .active:hover,
  .active:focus {
    color: var(--hover-color);
  }

  /* hero */
  .hero {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--brand-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab-768.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg@2x-min-428.jpg);
    }
  }

  .header {
    border-bottom: 1px solid var(--buttons-2page);

    background-color: var(--background);
  }
  .header-nav {
    display: flex;
    gap: 40px;
    margin: 0 auto;
  }
  .header-logo-nav {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .logo-color {
    color: var(--brand-color);
  }

  .nav-link {
    position: relative;
    color: var(--brand-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--timing-cubic);
  }

  .current-nav::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0px;
    top: 44px;
    background-color: var(--hover-color);
    border-radius: 2px;
  }

  .header-address {
    padding-top: 16px;
  }

  .header-container {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 16px;
  }

  .header-logo-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  address {
    font-style: normal;
  }
  .auth-hav {
    font-style: normal;
  }
  .address-link {
    display: flex;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    transition: color var(--timing-cubic);
    letter-spacing: 0.04em;
  }
  .address-link:not(last-child) {
    margin-bottom: 12px;
  }

  .active:hover,
  .active:focus {
    color: var(--hover-color);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--hover-color);
  }
  .current-nav {
    color: var(--hover-color);
  }

  .hero-title {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .btn-hero {
    color: var(--background);
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: 0px solid transparent;
    border-radius: 4px;
  }

  .active-btn {
    transition: var(--timing-cubic);
  }

  .active-btn:hover,
  .active-btn:active,
  .active-btn:focus {
    color: var(--background);
    background-color: var(--hover-color);
  }

  /* SPECIFICS */

  .specifics {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .specifics-list {
    column-gap: var(--card-set-gap);
    row-gap: calc(var(--card-set-gap) * 3);
    display: flex;
    flex-wrap: wrap;
  }
  .about-item {
    width: calc((100% - var(--card-set-gap)) / 2);
  }
  .mini-title {
    text-align: left;
    color: var(--mini-titles-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .specifics-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }

  .doing {
    display: none;
  }
  /* TEAM */

  .primary-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--brand-color);
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;

    column-gap: var(--card-set-gap);
    row-gap: calc(var(--card-set-gap) * 3);
    justify-content: center;
    align-items: center;
  }
  .team-item {
    background-color: var(--background);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    justify-content: center;
  }
  .box-content {
    padding: 32px 16px;
    text-align: center;
  }
  .secondary-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-bottom: 8px;
  }
  .text-dsc-team {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .team-soc-list {
    display: flex;
    justify-content: center;
    gap: var(--card-set-gap);
    margin-top: 8px;
  }
  .team-soc-item {
    width: 40px;
    height: 40px;
  }
  .team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-logo-color);
    color: var(--cards-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--timing-cubic);
  }
  .team {
    background-color: var(--cards-color);
  }
  .section {
    padding-bottom: 96px;
    padding-top: 96px;
  }
  /* CUSTOMERS */
  .primary-title {
    margin-top: 0;
    margin-bottom: 72px;
    padding-top: 0;
    padding-bottom: 0;
    color: var(--primary-titles-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--card-set-gap);
    row-gap: calc(var(--card-set-gap) * 3);
    justify-content: center;
    align-items: center;
  }

  .customers-icon {
    display: flex;
    align-items: center;
    width: 104px;
    height: 56px;
  }

  .customers-item {
    border: 1px solid var(--border);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    fill: var(--border);
    transition: var(--timing-cubic);
  }

  .customers-item:hover,
  .customers-item:focus {
    fill: var(--hover-color);
    border: 1px solid var(--hover-color);
  }

  /* FOOTER */

  .basement {
    background-color: var(--brand-color);
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-container {
    width: 582px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: flex-start;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .basement-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-logo-color);
  }
  .basement-second-logo {
    color: var(--cards-color);
  }
  .basement-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--buttons-2page);
    margin-top: 16px;
    text-align: left;
  }
  .footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background);
    margin-bottom: 16px;
  }
  .footer-logo-block {
    display: flex;
    gap: 16px;
  }
  .footer-social-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--timing-cubic);
  }
  .footer-logo {
    width: 40px;
    height: 40px;
  }
  .footer-social-box {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-logo-color);
    color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--timing-cubic);
  }
  .footer-container3 {
    display: flex;
    width: 453px;
    height: 80px;
    padding-left: 80px;
  }
  .subscibe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background);
    margin-bottom: 16px;
    text-align: left;
  }
  .label-sub {
    min-width: 264px;
  }
  .footer-input {
    border: 1px solid var(--background);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
    line-height: 2;
    display: block;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--background);
    padding: 8px 16px;
    background-color: var(--brand-color);
    margin-bottom: 16px;
  }
  .btn-footer {
    background-color: var(--accent-logo-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--background);
    border: 0px solid transparent;
    min-width: 165px;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    margin: auto;
    margin-top: 0;

    transition: background-color var(--timing-cubic);
  }
  .form-div {
    display: flex;
    gap: 24px;
  }

  .basement-container {
    justify-content: start;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  .header {
    border-bottom: 1px solid var(--buttons-2page);
  }
  .header-nav {
    display: flex;
    gap: 40px;
  }
  .header-logo-nav {
    display: flex;
    align-items: center;
    margin-right: 76px;
  }
  .header-logo {
    font-family: "Raleway", sans-serif;
    color: var(--accent-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-right: 76px;
  }
  .logo-color {
    color: var(--brand-color);
  }

  .nav-link {
    position: relative;
    color: var(--brand-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--timing-cubic);
  }

  .current-nav::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0px;
    top: 44px;
    background-color: var(--hover-color);
    border-radius: 2px;
  }

  .header-address {
    display: flex;
    gap: 40px;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-logo-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  address {
    font-style: normal;
  }
  .auth-hav {
    font-style: normal;
  }
  .address-link {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    transition: color var(--timing-cubic);
  }

  .active:hover,
  .active:focus {
    color: var(--hover-color);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--hover-color);
  }
  .current-nav {
    color: var(--hover-color);
  }
  /* HERO */
  .hero {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--brand-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
  }

  .hero-title {
    color: var(--hero-title-buttons);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .btn-hero {
    color: var(--hero-title-buttons);
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: 0px solid transparent;
    border-radius: 4px;
    min-width: 169px;
    transition: color var(--timing-cubic), background-color var(--timing-cubic);
  }

  .active-btn:hover,
  .active-btn:active {
    color: var(--hero-title-buttons);
    background-color: var(--hover-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  /* SPECIFICS */
  .specifics {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .mini-title {
    color: var(--mini-titles-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .specifics-list {
    display: flex;
    gap: 24px;
  }
  .specifics-text,
  .text-dsc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .about-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .about-item::before {
    display: block;
    content: "";
    height: 112px;
    background: var(--cloud);
    border-radius: 4px;
    background-size: 64px 64px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .about-item:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
  }

  .about-item:nth-child(2)::before {
    background-image: url(../images/clock.svg);
  }

  .about-item:nth-child(3)::before {
    background-image: url(../images/computer.svg);
  }

  .about-item:nth-child(4)::before {
    background-image: url(../images/astronavt.svg);
  }
  /* DOING */
  .doing {
    display: block;

    padding-bottom: 120px;
  }
  .doing-img-list {
    display: flex;
    gap: 24px;
  }

  .doing-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .primary-title {
    color: var(--primary-titles-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
  }
  /* TEAM */
  .box-content {
    padding: 32px 16px;

    text-align: center;
  }
  .team-item {
    background-color: var(--background);
    flex-basis: calc((100% - 3 * 24px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }

  .team {
    background-color: var(--cloud);
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    gap: 24px;
  }
  .secondary-title {
    color: var(--secondary-titles-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .text-dsc-team {
    font-size: 16px;
    line-height: 1.5;
  }

  .team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .team-soc-item {
    width: 40px;
    height: 40px;
  }
  .team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--timing-cubic);
  }
  .text-dsc-team {
    margin-bottom: 8px;
  }
  .team-soc-link:hover {
    background-color: var(--hover-color);
  }

  /* FOOTER */
  .basement {
    background-color: var(--brand-color);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .basement-text {
    color: var(--buttons-2page);
    font-size: 16px;
    line-height: 1.5;
    max-width: 264px;
    margin-top: 16px;
  }
  .footer-content {
    flex-wrap: nowrap;
    gap: 0;
  }
  .basement-logo {
    font-family: "Raleway", sans-serif;
    color: var(--accent-logo-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .basement-container {
    margin-right: 120px;
    width: 264px;
  }

  .basement-second-logo {
    color: var(--cloud);
  }
  .footer-container {
    display: flex;
  }

  .footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background);
    margin-bottom: 16px;
  }
  .footer-logo-block {
    display: flex;
    gap: 16px;
  }

  .footer-social-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--hover-color);
    transition: background-color var(--timing-cubic);
  }
  .footer-social-box:hover,
  .footer-social-box:focus {
    background-color: var(--hover-footer);
    padding: 8px;
  }
  .footer-container3 {
    display: flex;
    width: 453px;
    height: 80px;
    padding-left: 80px;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .footer-label {
  }
  .footer-input {
    border: 1px solid var(--background);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    min-width: 264px;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--hero-title-buttons);
    padding: 8px 16px;
    background-color: var(--brand-color);
  }
  .footer-button {
    background-color: var(--accent-logo-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--background);
    border: 0px solid transparent;
    min-width: 165px;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    transition: background-color var(--timing-cubic);
  }
  .footer-button:hover,
  .footer-button:focus {
    background-color: var(--hover-color);
  }
  .footer-bottom-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background);
    margin-bottom: 16px;
  }
  .container3 {
    margin-left: 80px;
  }
  .subscibe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: var(--background);
  }

  .form-div {
    display: flex;
  }

  .form-footer input {
    font-family: "Roboto";
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 0 16px 0 16px;
    height: 40px;
    width: 264px;
    background-color: transparent;
    outline: 0;
    transition: border-color var(--timing-cubic);
  }
  .btn-footer {
    display: flex;
    padding: 8px 24px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;

    background: var(--accent-color);
    transition: background-color var(--timing-cubic);
  }
  .btn-submit {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--background);
    margin-right: 16px;
    padding: 0;
    border: none;
  }
  .button-icon {
    display: inline-flex;
    align-items: center;
  }
  .btn-footer:hover {
    background-color: var(--hover-color);
  }

  .btn-footer:focus {
    background-color: var(--hover-color);
  }
  /* CUSTOMERS */
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  .customers-item {
    border: 1px solid var(--border);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    fill: var(--border);
    transition: border var(--timing-cubic), fill var(--timing-cubic);
  }
  .customers-item:hover,
  .customers-item:focus {
    fill: var(--hover-color);
    border: 1px solid var(--hover-color);
  }

  /* PORTFOLIO */
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 4px solid teal;  */
  }

  .container-btn {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 0;
    padding-left: 0;
  }
  .buttons-for-nav {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .container-btns {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 0;
    padding-left: 0;
  }

  .second-nav {
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px 24px;
    font-family: "Roboto", sans-serif;
    color: var(--accent-color);
    background-color: var(--cloud);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--buttons-2page);
    transition: var(--timing-cubic);
  }

  .second-nav:hover,
  .second-nav:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .services-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 72px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .secondary-title-cards {
    margin-top: 0;
    margin-bottom: 8px;
    padding-bottom: 0;
    color: var(--secondary-titles-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  /* cards */
  .text-dsc {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 40px 32px;
    color: var(--cloud);
    background-color: var(--primary-brand-color-a);
    transform: translate(0, 100%);
    transition: transform var(--timing-cubic);
    transition: transform var(--timing-cubic);
  }

  .portfolio-link {
    display: block;
  }
  .img-overlay-wrapper {
    position: relative;
    overflow: hidden;
  }

  .team-items:hover .overlay {
    transform: translate(0, 0);
  }
  .team-items {
    /* margin-bottom: 30px; */
    background-color: var(--background);
    flex-basis: calc((100% - 2 * 24px) / 3);

    border-radius: 0px 0px 4px 4px;
    border: 1px solid var(--buttons-2page);
    width: 360px;
    transition: var(--timing-cubic);
  }

  .team-items:hover,
  .team-items:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .team-items img {
    display: block;
  }

  .card-text {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
  }
  /* Visually-hidden*/
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

/* MODAL */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--timing-cubic), visibility var(--timing-cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--background);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--action);
  width: 100%;
  height: 90%;
  overflow-y: auto;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--border);
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--buttons-2page);
  transition: background-color var(--timing-cubic);
  cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--hover-color);
  border-color: transparent;
}

.modal-close-btn-icon {
  transition: fill var(--timing-cubic);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:hover .modal-close-btn-icon {
  fill: var(--background);
}

/* FORM */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-input-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
.input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  transition: border-color var(--timing-cubic);
  outline: transparent;
}

.modal-label-text {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 5px;
  color: #8e8f99;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input:focus {
  border-color: var(--hover-color);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--hover-color);
}

.modal-texarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  background-color: transparent;
  resize: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-texarea:focus {
  border-color: var(--hover-color);
}
.modal-btn-send {
  display: block;
  width: 169px;
  height: 56px;
  margin: 0 auto;
  text-align: center;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--background);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--timing-cubic);
  cursor: pointer;
}

.modal-btn-send:hover,
.modal-btm-send:focus {
  background-color: var(--hover-color);
}
.check-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  display: block;
}

.check-text {
  display: flex;
  gap: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-top: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.modal-check:checked + .check-text::before {
  background-color: var(--hover-color);
  border: none;

  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.a-text {
  text-decoration: underline;
}

.placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-check {
  display: none;
}
