:root {
  --accent-color: #4d5ae5;
  --accent-logo-color: #4d5ae5;
  --hero-title-buttons: #ffffff;
  --brand-color: #2e2f42;
  --primary-titles-color: #2e2f42;
  --mini-titles-color: #2e2f42;
  --secondary-titles-color: #2e2f42;
  --hover-color: #404bbf;
  --background: #ffffff;
  --cards-color: #f4f4fd;
  --cloud: #f4f4fd;
  --buttons-2page: #e7e9fc;
  --primary-text-color: #434455;
  --border: #8e8f99;
  --hover-footer: #31d0aa;
  --timing-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --primary-brand-color-a: rgba(64, 75, 191, 0.9);
  --modal-window-background: #fcfcfc;
  --card-set-gap: 24px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* списки и точки */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;

  color: var(--primary-text-color);
  background-color: var(--background);
  letter-spacing: 0.02em;
}
img {
  display: block;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto 0 auto;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.logo-color {
  color: var(--brand-color);
}
.header-container {
  position: relative;
  padding-top: 24px;
  padding-bottom: 22px;
  padding-left: 16px;
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
    padding-left: 40px;
    padding-top: 80px;
  }

  .header-nav li:not(:last-child) {
    margin-bottom: 40px;
  }
  .header-address {
    display: none;
  }
  .burger {
    stroke: var(--brand-color);
  }
  .menu-btn {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;

    cursor: pointer;
    margin: 0;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    border: none;
    background-color: transparent;
  }

  .menu {
    width: 32px;
    height: 22px;
  }
  .menu-container-modal {
    position: absolute;

    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-color: var(--background);
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12))
      drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2))
      drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));
    transition: opacity var(--timing-cubic);
  }

  .menu-container-modal.is-open {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--timing-cubic);
  }

  .menu-container-modal .header-nav,
  .menu-container-modal .header-address-menu {
    display: block;

    top: 0;
    left: 0;

    font-size: 10px;
  }

  .nav-link {
    position: relative;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--brand-color);
    transition: color var(--timing-cubic);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--hover-color);
  }

  .header-address-menu {
    padding-top: 284px;
    padding-left: 40px;
  }

  .header-address-menu li:not(:last-child) {
    margin-bottom: 40px;
  }

  .address-link-mail {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    transition: color var(--timing-cubic);
  }

  .address-link-mail:hover,
  .address-link-mail:focus {
    color: var(--hover-color);
  }

  .address-link-number {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--brand-color);
    transition: color var(--timing-cubic);
  }

  .address-link-number:hover,
  .address-link-number:focus {
    color: var(--hover-color);
  }

  .menu-svg {
    padding-top: 48px;
  }

  .menu-icons {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 56px;
  }

  .team-soc-item {
    width: 40px;
    height: 40px;
  }

  .team-soc-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--timing-cubic);
  }

  .team-soc-link:hover,
  .team-soc-link:focus {
    background-color: var(--hover-color);
  }

  .team-soc-icon {
    height: 24px;
    width: 24px;
  }

  .header-nav {
    display: none;
  }

  .header-address {
    display: none;
  }

  .cl-menu {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--background);
  }

  .menu-svg {
    stroke: var(--brand-color);
  }

  .menu-close-svg {
    width: 8px;
    height: 8px;
    fill: var(--brand-color);
  }
  .menu-btn.is-open .menu-close-svg {
    display: block;
  }

  .menu-btn.is-open .menu-svg {
    display: none;
  }

  /* Hero */

  .hero {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--brand-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-min-428.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
  }

  .hero-title {
    color: var(--hero-title-buttons);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .btn-hero {
    color: var(--hero-title-buttons);
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: 0px solid transparent;
    border-radius: 4px;
    transition: color var(--timing-cubic), background-color var(--timing-cubic);
  }

  .active-btn:hover,
  .active-btn:active {
    color: var(--hero-title-buttons);
    background-color: var(--hover-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg@2x-min-428.jpg);
    }
  }
  /* SPECIFIC */
  .container {
    width: 428px;
  }
  .specifics {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .mini-title {
    color: var(--mini-titles-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .specifics-text,
  .text-dsc {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .about-item {
    width: 100%;
    padding-bottom: 72px;
  }
  /* DOING */
  .doing {
    display: none;
  }
  /* TEAM */
  .team {
    background-color: var(--cards-color);
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
  @media screen and (min-width: 428px) {
    .team > .container {
      max-width: 296px;
    }
  }
  .primary-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--brand-color);
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    column-gap: var(--card-set-gap);
    row-gap: calc(var(--card-set-gap) * 3);
  }
  .team-item {
    background-color: var(--background);
    width: 100%;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    justify-content: center;
  }
  .box-content {
    padding: 32px 16px;
    text-align: center;
  }
  .secondary-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-bottom: 8px;
  }
  .text-dsc-team {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .team-soc-list {
    display: flex;
    justify-content: center;
    gap: var(--card-set-gap);
    margin-top: 8px;
  }
  .team-soc-item {
    width: 40px;
    height: 40px;
  }
  .team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-logo-color);
    color: var(--cards-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--timing-cubic);
  }
}

/* TAblet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 768px;
  }
  .menu-btn {
    display: none;
  }
  .header {
    border-bottom: 1px solid var(--buttons-2page);

    background-color: var(--background);
  }
  .header-nav {
    display: flex;
    gap: 40px;
    margin: 0 auto;
  }
  .header-logo-nav {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-logo {
    padding-left: 16px;
  }
  .logo-color {
    color: var(--brand-color);
  }

  .nav-link {
    position: relative;
    color: var(--brand-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--timing-cubic);
  }

  .current-nav::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0px;
    top: 44px;
    background-color: var(--hover-color);
    border-radius: 2px;
  }

  .header-address {
    padding-top: 16px;
    padding-right: 16px;
  }

  .header-container {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .header-logo-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  address {
    font-style: normal;
  }
  .auth-hav {
    font-style: normal;
  }
  .address-link {
    display: flex;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    transition: color var(--timing-cubic);
    letter-spacing: 0.04em;
  }
  .address-link:not(last-child) {
    padding-bottom: 12px;
  }

  .active:hover,
  .active:focus {
    color: var(--hover-color);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--hover-color);
  }
  .current-nav {
    color: var(--hover-color);
  }
  /* HERO */
  .hero {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--brand-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab-768.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
  }

  .btn-hero {
    color: var(--background);
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: 0px solid transparent;
    border-radius: 4px;
    min-width: 169px;
  }
  .hero-title {
    color: var(--background);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .btn-hero {
    color: var(--hero-title-buttons);
    background-color: var(--accent-color);
    padding: 16px 32px;
    border: 0px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    display: block;
    margin: auto;
    min-width: 169px;
    transition: color var(--timing-cubic), background-color var(--timing-cubic);
  }

  .active-btn:hover,
  .active-btn:active {
    color: var(--hero-title-buttons);
    background-color: var(--hover-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg@2x-min-428.jpg);
    }
  }
  /* SPECIFICS */
  .specifics {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .specifics-list {
    column-gap: var(--card-set-gap);
    row-gap: calc(var(--card-set-gap) * 3);
    display: flex;
    flex-wrap: wrap;
  }
  .about-item {
    width: calc((100% - var(--card-set-gap)) / 2);
  }
  .mini-title {
    text-align: left;
    color: var(--mini-titles-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .specifics-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }

  /* DOING */
  .doing {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--buttons-2page);
  }
  .header-nav {
    display: flex;
    gap: 40px;
  }
  .header-logo-nav {
    display: flex;
    align-items: center;
    margin-right: 76px;
  }
  .header-logo {
    font-family: "Raleway", sans-serif;
    color: var(--accent-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-right: 76px;
  }
  .logo-color {
    color: var(--brand-color);
  }

  .nav-link {
    position: relative;
    color: var(--brand-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--timing-cubic);
  }

  .current-nav::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0px;
    top: 44px;
    background-color: var(--hover-color);
    border-radius: 2px;
  }

  .header-address {
    display: flex;
    gap: 40px;
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-logo-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  address {
    font-style: normal;
  }
  .auth-hav {
    font-style: normal;
  }
  .address-link {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    transition: color var(--timing-cubic);
  }

  .active:hover,
  .active:focus {
    color: var(--hover-color);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--hover-color);
  }
  .current-nav {
    color: var(--hover-color);
  }

  /* HERO */
  .hero {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--brand-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office\ 1@2x-min-1158.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
  }

  .hero-title {
    color: var(--hero-title-buttons);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .btn-hero {
    color: var(--hero-title-buttons);
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: 0px solid transparent;
    border-radius: 4px;
    min-width: 169px;
    transition: color var(--timing-cubic), background-color var(--timing-cubic);
  }

  .active-btn:hover,
  .active-btn:active {
    color: var(--hero-title-buttons);
    background-color: var(--hover-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  /* Specifics */
  .specifics {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .mini-title {
    color: var(--mini-titles-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .specifics-list {
    display: flex;
    gap: 24px;
  }
  .specifics-text,
  .text-dsc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .about-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .about-item::before {
    display: block;
    content: "";
    height: 112px;
    background: var(--cloud);
    border-radius: 4px;
    background-size: 64px 64px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .about-item:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
  }

  .about-item:nth-child(2)::before {
    background-image: url(../images/clock.svg);
  }

  .about-item:nth-child(3)::before {
    background-image: url(../images/computer.svg);
  }

  .about-item:nth-child(4)::before {
    background-image: url(../images/astronavt.svg);
  }
  /* DOING */
  .doing {
    padding-bottom: 120px;
  }
  .doing-img-list {
    display: flex;
    gap: 24px;
  }

  .doing-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .primary-title {
    color: var(--primary-titles-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  /* TEAM */
  .team-items:hover .overlay {
    transform: translate(0, 0);
  }
  .team-items {
    background-color: var(--background);
    flex-basis: calc((100% - 3 * 24px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .text-dsc-team {
    font-size: 16px;
    line-height: 1.5;
  }

  .team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .team-soc-item {
    width: 40px;
    height: 40px;
  }
  .team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--timing-cubic);
  }
  .text-dsc-team {
    margin-bottom: 8px;
  }
  .team-soc-link:hover {
    background-color: var(--hover-color);
  }
  .box-content {
    padding: 32px 16px;

    text-align: center;
  }
  .team-item {
    background-color: var(--background);
    flex-basis: calc((100% - 3 * 24px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }

  .team {
    background-color: var(--cloud);
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    gap: 24px;
  }
}
